/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
#parent-grid{
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
  width: 960px;
  height: 960px;
  margin: 0 auto;

}
.square{
  border: solid black 1px;  
  background-color: white;
}

.squareGrey{
  background-color: darkslategrey 
}
/* .square:hover{
  background-color: darkslategrey
} */

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

